Source: linuxmuster-cachingserver-server
Section: admin
Priority: optional
Maintainer: Lukas Spitznagel <lukas.spitznagel@netzint.de>
Build-Depends: debhelper (>= 4.0.0), fakeroot

Package: linuxmuster-cachingserver-server
Architecture: all
Depends: linuxmuster-linbo7, python3-fastapi, uvicorn
Homepage: www.netzint.de
Description: Linuxmuster Cachingserver for Main-Server
