[Unit]
Description=Linuxmuster Cachingserver
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /usr/lib/linuxmuster-cachingserver/server.py

[Install]
WantedBy=multi-user.target